<h2>Login</h2>
<section class="listing-apply">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <div>
            <td>
              <label for="login">Login</label>
            </td>
            <td>
              <input id="login" type="text" formControlName="login">
            </td>
          </div>
        </tr>
        <tr>
          <div>
            <td>
              <label for="password">Password</label>
            </td>
            <td>
              <input id="password" type="password" formControlName="password">
            </td>
          </div>
        </tr>
        <tr>
          <button type="submit" class="primary">Login</button>
        </tr>
    </table>
      
    </form>
</section>