<h2>Login</h2>
<section class="listing-apply">
    <h2 class="section-heading">Register form</h2>
    <form [formGroup]="applyForm" (submit)="OnRegister()">
      <div>
      <label for="login">Login</label>
      <input id="login" type="text" formControlName="login">
      </div>
      <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      </div>
      <div>
        <label for="password">Confirm password</label>
        <input id="confirmpassword" type="password" formControlName="password">
        </div>
      <button type="submit" class="primary">Register</button>
    </form>
  </section>