<h2>Login</h2>
<section class="listing-apply">
  <h2 class="section-heading">Register form</h2>
  <form [formGroup]="applyForm" (submit)="OnRegister()">
    <table style="border-collapse: collapse">
      <tr>
        <td style="padding: 8px;text-align: right;">
          <label for="login">Login</label>
        </td>
        <td style="padding: 8px;">
          <input id="login" type="text" formControlName="login">
        </td>
      </tr>
      <tr>
        <td style="padding: 8px;text-align: right;">
          <label for="password">Password</label>
        </td>
        <td style="padding: 8px;">
          <input id="password" type="password" formControlName="password">
        </td>
      </tr>
      <tr>
        <td style="padding: 8px;text-align: right;">
          <label for="confirmpassword">Confirm password</label>
        </td>
        <td style="padding: 8px;">
          <input id="confirmpassword" type="password" formControlName="password">
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td style="padding: 8px;">
          <button type="submit" class="btn btn-success">Register</button>
        </td>
      </tr>
    </table>
    
  </form>
</section>