
<div class="container">

    <table class="table-container">
        <tr>
            <td>            
                <p *ngIf="login(); else noLogin">Zalogowano jako: {{ login() }}</p>
                <ng-template #noLogin><p>Nie zalogowano</p></ng-template>
            </td>
        </tr>
        <tr>
            <td>
                <p *ngIf="!login()">
                <a class="menu" href="/login/">Zaloguj</a>
                </p>
            </td>
            <td>
                <p *ngIf="login()">
                    <a href="" (click)="logout()">Wyloguj</a>
                </p>
            </td>
        </tr>
        <tr>
            <td><a class="menu" href="/register/">Register</a></td>
        </tr>
        <!-- <tr>
            <app-authenticator></app-authenticator>
        </tr> -->
    </table>
    <img src="logo.png" />
    <h1>Termoinf</h1>
    <h1 id="tableLabel"><b>Świadectwo charakterystyki energetycznej</b></h1>
    <h1>mieszkań, domów jednorodzinnych.</h1>
    <a class="btn btn-primary" href="">Zamów</a>
    <!-- <h1><a href="/learning/1">Rozpocznij nauke</a></h1> -->
</div>
<hr>


