.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Możesz dostosować szerokość kontenera */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }