<div id="sideNav" class="login_sidenav">
  <form>
    <div class="container">
      <a href="#" class="closebtn">&times;</a>
      <div class="row">Please log in:</div>
      <div class="row">
        <input class="sidenav-input" type="text" placeholder="User name">
      </div>
      <div class="row">
        <input class="sidenav-input" type="password" placeholder="Password">
      </div>
      <div class="row">
        <button class="btn btn-primary btn-lg">Login</button>
      </div>
    </div>
  </form>
</div>